@{
  Layout = "Layout";
}
<h1>Welcome Pierre!</h1>
<h3>Here you can add Vendors and Orders to this program and keep your business more ogranized!</h3>
<a href="/vendors"><button type="button" class="btn btn-primary btn-block">See All Vendors</button></a>
<br>
<a href="/vendors/new"><button type="button" class="btn btn-success btn-block">Add New Vendors</button></a>