<h1>Vendor Order Details</h1>

<h2>Category: @Model["vendor"].Name</h2>
<h3>@Model["order"].Description</h3>

<a href='/vendors/@Model["vendor"].Id/items/new'>Add another item</a>
<a href='/vendors'>View all vendors</a>