<h1>Vendor Order Details</h1>

<h2>Vendor: @Model["vendors"].Name</h2>
<h3>@Model["order"].Description</h3>

<a href='/vendors/@Model["vendors"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>